// menu off canvas
/*
* http://codepen.io/ncerminara/pen/quJpi
*/
#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  @include translateX(0); //fallback
  @include translate3d(0,0,0); //improve performance
  @include transition(200ms);
  @include vendor( backface-visibility, hidden ); //http://scotch.io/tutorials/off-canvas-menus-with-css3-transitions-and-transforms
}

.show-nav #site-canvas {
  @include translateX(-200px); //fallback
  @include translate3d(-200px,0,0);//improve performance
}

#site-menu {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -200px;
  background: $color-base;
  padding: $paddingbase;
  li {
  	// @extend %text-center;
  	list-style: none;
  }
}

.toggle-nav {
	position: absolute;
	right: 10%;
	top: $paddingbase;
	// background: $color-base-invert;
	@media (max-width: $bp3) {
		right: 6%;
	}
}