// menu off canvas
.main__nav {

    * {
      transition: all .2s ease-in;
    }

    a {
      padding: $gutterwidth;
      color: $white;
      text-transform: uppercase;

      &:hover {
        background-color: $color-base;
      }
    }

  label {
    &:hover:after {
        background-color: $color-base-dark;
    }
  }
  label::after {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    content: "☰";
    z-index: 5;
    font-size: 150%;
    padding: 5px;
    text-align: center;
    @media all and (min-width: $bp3) {
      top: 40px;
    }
  }

  > ul { //el overlay
    position: fixed;
    top: 0;
    transform: translate(100%,0); //vete fuera del escenario
    width: 100%;
    background-color: red;
    text-align: center;
    font-size: 60%;
    
    @media all and (min-width: $bp3) {
      transform: translate(150%,0); //vete aun mas lejos
      font-size: inherit;
    }

    > li { //1st level
      border-bottom: dashed 2px $color-base;
      &:last-child {
        border-bottom: none;
      }
      
      a {
        display: block;
        height: 25vh;
        line-height: 8;
        @extend %basepadding;
        text-decoration: none;
        flex-direction: column;
      }
    }
  }

  input[type="checkbox"]:checked ~ ul {
    z-index: 4;
    transform: translate(0,0);
    transition: all .2s ease-in;
  }

  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + label::after {
    content:"X";
  }
  
}