/*------------------------------------*\
    STYLEGUIDE
\*------------------------------------*/

//Añademe dinamicamente el nombre de la clase
li::before, a::before, .block__item::before {
    content: "" attr(class); // wow!
    color: $black;
    font-size: .8rem;
    line-height: .5;
    padding-left: 10px;
  }

// Colores
.section__color {
  display: table;
  @extend %full-width;
}
  .section__color--item {
    display: table-cell;
  }

.maxwidth__bp1 {
  @include max-width($bp1);
}

.img__bg {
  background-image: url('#{$image-path}logoyo.png');
  background-color: $color-base;
  background-repeat: no-repeat;
}

//Data atributes
a[href^="http://"]::after { // ^ empieza por...
  content: " (enlace externo)";    
  color: $color-base-dark;
}
a[target="_blank"]::after {
  content: " \2714";
  color: $color-base-dark;
}

/*------------------------------------*\
    COMPONENTES
\*------------------------------------*/

//Bloque de contenido
@media all and (min-width: $bp3) {
  .block__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}

.block__item {
  list-style: none;
  margin-bottom: $gutterwidth;
  background-color: #f3f3f3;
  @include font-size(18);
  min-height: 100px;

  //magia!!
  @media all and (min-width: $bp3) {
    width: calc(25% - #{$gutterwidth});
  }
  @media all and (min-width: $bp2) {
    width: calc(33.33% - #{$gutterwidth});
  }
  @media all and (min-width: $bp1) {
    width: calc(25% - #{$gutterwidth});
  }

}

// Componente galeria
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery__item {
  position: relative;
  width: 50%;
  z-index: 1;
    //magia!!
    @media (min-width: $bp3) {
      width: calc(20% - #{$gutterwidth});
    }
  text-align: center;
  
	.gallery__caption {
    transition: all .2s;
    font-size: 12px; // fallback + progressive enhancement
    font-size: 1rem;

	&::after {
		width: 2em;
		height: 2em;
		transition: all .7s;
		content: "+" !important;
		position: absolute;        
		transform: translate(-40px, -70px);
		font-size: 12px; 
		font-size: 2rem;
		background-color: $white;
		line-height: 2em;
	    text-align: center;
	    border-radius: 100%;
	}
		
	&:hover::after {
		content: ">" !important;
       transform: translate(-15px, -20px);
			background-color: $color-base;
		}
	}
}


/*------------------------------------*\
    NAVEGACION
\*------------------------------------*/


.nav__uno {
  width: 100%;
}
  .nav__uno__item {
      @extend %inline-block;
      width: 25%;
      line-height: 3;
      text-align: center;
      background-color: $color-base;
      border-right: 1px solid $white;
      &:last-child {
        border-right: none;
      }
    }

.nav__dos {
  display: table;
  width: 100%;
} 
  .nav__dos__item {
    display: table-cell;
  }






	// El otro mixin es para galerias
	.galeria__item {
		@include galeria(6);
		min-height: 185px;
		@media (max-width: $bp3) {
			@include galeria(2);
		}
	}

// FORMAS
	.square {
		@include square(100px);
	}
	

// COLORES
	.color-base {
		background-color: $color-base;
		&:before {
			content: "#{$color-base}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-invert 	{
		background-color: $color-base-invert;
		&::before {
			content: "#{$color-base-invert}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-light 	{ 
		background-color: $color-base-light;
		&::before {
			content: "#{$color-base-light}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-lighter { 
		background-color: $color-base-lighter;
		&::before {
			content: "#{$color-base-lighter}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-lighten { 
		background-color: $color-base-lighten;
		&::before {
			content: "#{$color-base-lighten}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-dark 	{ 
		background-color: $color-base-dark;	
		&::before {
			content: "#{$color-base-dark}";
			color: white;
			@extend %display-block;
		}
	}

	.color-base-darken { 
		background-color: $color-base-darken;
		&::before {
			content: "#{$color-base-darken}";
			color: white;
			@extend %display-block;
		}

	}

	.color-base-darker { 
		background-color: $color-base-darker;
		&::before {
			content: "#{$color-base-darker}";
			color: white;
			@extend %display-block;
		}

	}
