html {
  font-size: 75%; //de 16px
  @media all and (min-width: $bp3) {
    font-size: 100%; //de 16px
  }
}
body {
	font-family: $basefont;
	color: $textcolor;
	// @include background-image(bg,cover,jpg);
}

h1 {font-size: 10vw;}

figure + p {
	background-color: red;
} 
figure {
	p & {
		background-color: yellow;
	}
}

img {
  @include max-width($bp1);
  @extend %full-width;
}
	// Fondos
	.img--bg {
	  background-image: url('#{$image-path}logoyo.png');
	  background-color: $color-base;
	  background-repeat: no-repeat;
	  @extend %imgbgsize-contain;
	}
	// Mascaras
	.img--mascara {
		clip-path: polygon( 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% );
	}





// WPCF7
.wpcf7 {
	display: table-cell;	
	width: 75%;
	@media screen and (max-width: $bp3) {
		display: table-row;
	}
}
// Mappress
.mapp-iw {
	color: $black;
}
// Vegas
.nav-arrows {
	@media all and (max-width: $bp3) {
		display: none;
	}
}
//oculta sello en contacto
.page-template-template-contacto-php .sello { display: none; }


/*------------------------------------*\
    MODULOS (componenetes, widgets, bloques...)
\*------------------------------------*/

// Modulo X1 - Para un mini grid...
@media all and (min-width: $bp3) {
  .modulo-x1 {
    @include flexbox;
	@include flex-wrap(wrap);
    @include justify-content(space-between);
    @include flex-direction(row);
  }
}

.modulo-x1__item {

  list-style: none;
  margin-bottom: $gutterwidth;
  background-color: $white;
  @include font-size(18);
  min-height: 100px;

  //magia!!
  @media all and (min-width: $bp3) {
    width: calc(25% - #{$gutterwidth});
  }
  @media all and (min-width: $bp2) {
    width: calc(33.33% - #{$gutterwidth});
  }
  @media all and (min-width: $bp1) {
    width: calc(25% - #{$gutterwidth});
  }

}

// Modulo X2 - Para una galería...
.modulo-x2 {
	@include flexbox;
	@include flex-wrap(wrap);
    @include justify-content(space-between);
}
.modulo-x2__item {
  position: relative;
  width: 50%;
    //magia!!
    @media (min-width: $bp3) {
      width: calc(20% - #{$gutterwidth});
    }
  text-align: center;
  
	.modulo-x2__caption {
    transition: all .2s;
    font-size: 12px; // fallback + progressive enhancement
    font-size: 1rem;

	&::after {
		width: 2em;
		height: 2em;
		transition: all .7s;
		content: "+" !important;
		position: absolute;        
		transform: translate(-40px, -70px);
		font-size: 12px; 
		font-size: 2rem;
		background-color: $white;
		line-height: 2em;
	    text-align: center;
	    border-radius: 100%;
	}
		
	&:hover::after {
		content: ">" !important;
       transform: translate(-15px, -20px);
			background-color: $color-base;
		}
	}
}






// Animaciones
@include keyframe(load-in-slow) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}