header {
	&.banner { //encabezado principal
		display: table;
		.brand {

			line-height: 1;
			position: relative;
			display: table-cell;
			@media all and (min-width: $bp3) {}
				.brand__description {
					position: absolute;
					top: 3.5em;
					left: 10em;
				}
			a {
				&.brand__logo {
					width: 16em;
					height: 4em;
					@extend %display-block;
					@include background-image(logo,90%,svg);
					background-repeat: no-repeat;
	    			background-position: center;
				}
			}
		}
		@include max-width($bp1);
		display: table;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		@media screen and (min-width: $bp3) {
			top: 33px;
		}
		// @include padding-vertical();
		// background-color: $white;
		// background-color: rgba($white, 0.95);
		// @include rotate(-45deg);
	}
}