
// home
.home {
	.main {
			.page-header {
				@media screen and (min-width: $bp3) {
				// font-size: 6em;
				// position: fixed;
				// top: 15%;
				// left: 0;
				// right: 0;
				// color: $white;
				}
				@media screen and (min-width: $bp2) {
					// font-size: 8rem;
				}
		}
	}
	.features {
    @extend %background-color;
    width: 100%;
	}
	.cover {
		background: url(../img/t0theme-10.jpg) no-repeat 0px top $darkgrey;
		background-size: cover;
		height: 500px;
		// @extend %inline-block;
			@media (min-width: $bp2) {
				height: 100%;
			}
			@media (min-width: $bp1) {
				height: 100%;
			}
		
		.banner {
			background-color: transparent;
			.brand {
				a {
					color: $color-base;
				}
			}
		}
	}
}